body{
    background-color: rgb(30, 32, 43);

}
.navbar{
    background-color: rgb(30, 32, 43);

}
.navbar a{
    color: white;
}
.navbar-nav a {
    padding-left: 45px !important;
}
.navbar .navbar-brand a:hover{
    color: rgb(0, 154, 216) !important;
}

.header{
    background-image: url(../imgs/banner.png);
    height: 50vh;
}
.circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(40, 32, 43);
    cursor: pointer;
    transition: 0.3s;

}

.circle:hover{
    background-color: rgb(0, 154, 216) !important;

}
.circle-round{
    width: 70px;
    height: 30px;
    /* border-color: #009ad8; */
    background-color: aqua;
    margin: auto;
}
.logo-title p{
    font-size: 10px;
}
.logo-title{
cursor: pointer;
}